html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #ffffff
    font-size: 62.5%
    
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
        
}

.header-wrapping{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 4rem;
    display: block;  
    
}

.header-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    
}

.header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    text-align: center;
    
}

.header-left{
    margin: 1.5rem 0 0;
    padding: 0;
    width: 20%;
    text-decoration: none;
    float: left;
    
}

.header-left > i{
    margin: 0 .6rem 0 0;
}

.logo{
    margin: 1rem 0 0;
    padding: 0;
    width: 60%;
    float: left;
    
}

.header-right{
    margin: 0 auto;
    padding: 0;
    width: 20%;
    float: left;    
    display: block
}

.header-right > ul > li{
    margin: 0 auto;
    padding-top: 0.8rem;
    width: 6rem;
    height: 2.5rem;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;

}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35rem;
    text-align: center;
    background-image: url(http://i.imgur.com/ZswIrno.jpg);
    background-repeat: no-repeat;
    background-size: cover
    
}

.mid-text{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    
    
}

h1{
    margin: 0 auto;
    padding: 0;
    width: 25rem;
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5rem;
    display: block;
}

footer{
    
}

.footer-left{
    
}

.footer-right{
    
}