html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #ffffff
    font-size: 62.5%
    
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
        
}

.header-wrapping{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 4rem;
    display: block;  
    
}

.header-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    
}

.header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    text-align: center;
    
}

.header-left{
    margin: 1.5rem 0 0;
    padding: 0;
    width: 20%;
    text-decoration: none;
    float: left;
    
}

.header-left > i{
    margin: 0 .6rem 0 0;
}

.logo{
    margin: 1rem 0 0;
    padding: 0;
    width: 60%;
    float: left;
    
}

.header-right{
    margin: 0 auto;
    padding: 0;
    width: 20%;
    height: auto;
    float:right;    
    display: block;
    
}

.header-right > ul > li{
    margin: 0 auto;
    width: 6rem;
    height: 3rem;
    display: inline;
    list-style-type: none;
    line-height: 3rem;
    font-size: 1.1rem;
}

.header-right > ul :nth-of-type(2){
    background-color: #56cc9d;
}

#log-in{
    color: #000000;
}

#sign-up{
    color: #FFFFFF;
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35rem;
    text-align: center;
    background-image: url(http://i.imgur.com/ZswIrno.jpg);
    background-repeat: no-repeat;
    background-size: cover
    
}

.mid-text{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(6rem);
    
}

h1{
    margin: 0 auto;
    padding: 0;
    width: 40%;
    height: 8rem;
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5rem;
    display: block;
    
}

form{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.mid-text > form > input{
    margin: 0;
    padding: 0;
    width: 20%;
    height: 80%
}



footer{
    
}

.footer-left{
    
}

.footer-right{
    
}