html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #ffffff
    font-size: 62.5%
    
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
        
}

.header-wrapping{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 4rem;
    display: block;  
    
}

.header-container{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 4rem;
    display: block; 
    
}

.header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 4rem;
    display: block;
    
}

.header-left{
    margin: 1.5rem 0 0;
    padding: 0;
    width: calc(100%/3);
    height: auto;
    display: block;
    text-decoration: none;
    float: left;
    
}

.header-left > i{
    margin: 0 .6rem 0 0;
}

.logo{
    margin: 1rem 0 0;
    padding: 0;
    width: calc(100%/3);
    height: auto;
    display: block;
    float: left;
    
}

.header-right{
    margin: 0;
    padding: 0;
    width: calc(100%/3);
    height: auto;
    float: left;
    text-align: right;
    display: block;
    
}

.header-right > ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: inline-block;
    
}

.header-right > ul > li{
    margin: 0 .5rem 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: inline;
    list-style-type: none;
    line-height: 4rem;
    font-size: 1.3rem;
}

.header-right > ul :nth-of-type(2){
    background-color: #56cc9d;
}

#log-in{
    color: #000000;
}

#sign-up{
    color: #FFFFFF;
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35rem;
    text-align: center;
    background-image: url(http://i.imgur.com/ZswIrno.jpg);
    background-repeat: no-repeat;
    background-size: cover
    
}

.mid-text{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(6rem);
    
}

h1{
    margin: 0 auto;
    padding: 0;
    width: 40%;
    height: 40%;
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5rem;
    display: block;
    
}

form{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    
}

.mid-text > form > input{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 2rem;
    text-align: center;
    font-weight: bold;
    
}

button{
    margin: 0;
    padding: 0;
    width: 25.3%;
    height: 2rem;;
    
}

footer{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 5rem;
    display: block;

}

.footer-left{
    margin: 0 auto;
    padding: 0;
    width: calc(100%/1.5);
    height: auto;
    display: block;
    float: left;
}

.footer-left > ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    list-style-type: none;
}

.footer-left > ul > li{
    margin: 0;
    padding: 0;
    width: 20%;
    height: auto;
    float: left;
}

.footer-right{
    margin: 0 auto;
    padding: 0;
    width: calc(100%/3);
    height: auto;
    display: block;
    float: right;
}

.footer-right > ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    list-style-type: none;
}

.footer-right > ul > li{
    margin: 0;
    padding: 0;
    width: 50%;
    height: auto;
    float: right;
}